	<div class="jumbotron">
		<h1>About us</h1>
		<p>We are working on our One Month Rails Pinteresting App</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Mission</h2>
				<p>I am currently a mechanical engineer for an automotive manufacturing company. I have been working there for 4 years now and am lacking creativity with the job.  My goal here is to learn web development to express my creativity and potentially earn a little extra money on the side freelancing.</p>
			</div>
			<div class="col-md-6">
				<h2>Personal</h2>
				<p>In my personal life I am an outdoors-man, exersize enthusiast, husband-of-the-year award winner (if only), lake goer, chronic miss-speller, and many other things that i am not proud of.  I have been a craftsman, mainly working with wood, for hobby only.</p>
			</div>
		</div>
	</div>